<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Krishi-Tech</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  </head>
  <body>
  
<nav class="nav-1">
    <ul>
    <a class="a1" href="home.html">Krishi-Tech</a>
    <a class="a2"  href="home.html">Home</a>
    <a class="a4" href="about.html">About</a>
    <a class="a3" href="Contact.html">Contact</a>
    <a class="a4" href="FAQs.html">FAQs</a>
    <a class="a4" href="index.html">Crop Prediction</a>
    <a class="a9" href=""><img src="m1.png" alt=""></a> 
</ul>
</nav>

 <div class="main">
    <video autoplay loop controls  src="nature.mp4"  autoplay muted></video>
 </div>
 <div class="main">
    <div class="card glass bg-light1">
    <button class="button-1 text-black" onclick="window.open('index.html')">PREDICT YOUR CROP</button>
    <p class="para">
        <span>Get Better yield by predicting the best crop🌾 for you </span>
    </p>
    </div>
 </div>

 <section class="footer">
    <div class="social">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-snapchat"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
    </div>
    <ul class="list">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Contact-us</a>
      </li>
      <li>
        <a href="#">FAQs</a>
      </li>
      <li>
        <a href="#">Privacy Policy</a>
      </li>
    </ul>
    <p class="copyright">KrishiTech</p>
  </section>

  </body>
</html>